<section class="destination-list">
  <header class="destination-list__header">
    <h2 class="destination-list__heading text-center">
      List of Destination
    </h2>
  </header>
  <main class="destination-list__main">
    <div class="destination-list__actions">
      <iy-sort-destination />
      <iy-destination-list-search />
    </div>
    <div
      cdkDropList
      [cdkDropListData]="destinationList"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (destination of destinationList;track destination;) {
        <iy-destination-list-item class="example-box" cdkDrag [destination]="destination" />
      }
    </div>
  </main>
</section>

