

/* Basic */
$black: #000000;
$white: #FFFFFF;
$grey-light: #E8E8E8;
$grey-medium: #ededed;
$grey-dark: #535353;
$turquoise-dark: #01A2A6;
$turquoise-light: #29d9c2;
$yellow: #ffffa6;
$sand-light: #f5e99e;
$sand-medium: #f2ee9b;
$sand-dark: #d8cb7d;
$sand-text: #aea25c;
