<ul id="menu" class="menu col-md-6 col-md-offset-right-1">
  <li class="menu-item">
    <a class="menu-link" [routerLink]="'#'">
      Home
    </a>
  </li>
  <li class="menu-item">
    <a class="menu-link" [routerLink]="'#'">
      Destination
    </a>
  </li>
  <li class="menu-item">
    <a class="menu-link" [routerLink]="'#'">
      Ittinary
    </a>
  </li>
  <li class="menu-item">
    <a class="menu-link" [routerLink]="'#'">
      Review
    </a>
  </li>
  <li class="menu-item">
    <a class="menu-link" [routerLink]="'#'">
      Contact
    </a>
  </li>
</ul>
