  <div class="container">
    <iy-section-heading
      [headingPart1]="'Set'"
      [headingPart2]="'&nbsp;Itinerary'"
      [description]="'Simply drag and dro what you want to visit, and viola we make an ittinery and schedule for your vacation.</br>Have a great trip!'"
      [isCenter]="true">
    </iy-section-heading>
    <div class="set-your-ittinery">
      <iy-destination-plan [destinationPlan]="destinationPlan" />
      <iy-destination-list [destinationList]="destinationList" />

      <!-- <section class="col-lg-5 destination-list-choice nopadding">
        <h2>
          <span class="destination-list-choice-label">List of Destination</span>
        </h2>
        <div class="sort col-lg-4 nopadding">
          <h4>
            <span class="sort-by">sort by:</span>
          </h4>
          <ul class="sort-list">
            <li>Mountain</li>
            <li style="display:none;">City</li>
            <li style="display:none;">Museum</li>
            <li style="display:none;">Forest</li>
          </ul>
        </div>
        <ul class="destination-list-choice-ul">
          <li><span class="which-destination-list-choice">Mt. Bromo</span>
            <div class="destination-list-choice-icon-details"><img src="images/bromo-icon.png" alt="bromo icon" width="60" height="30"/>
            <p class="view-details">view details</p></div>
          </li>
          <li><span class="which-destination-list-choice">Batu City</span>
            <div class="destination-list-choice-icon-details"><img src="images/bromo-icon.png" alt="bromo icon"  width="60" height="30"/>
            <p class="view-details">view details</p></div>
          </li>
          <li><span class="which-destination-list-choice">Mt. Bromo</span>
            <div class="destination-list-choice-icon-details"><img src="images/bromo-icon.png" alt="bromo icon" width="60" height="30"/>
            <p class="view-details">view details</p></div>
          </li>
          <li><span class="which-destination-list-choice">Batu City</span>
            <div class="destination-list-choice-icon-details"><img src="images/bromo-icon.png" alt="bromo icon"  width="60" height="30"/>
            <p class="view-details">view details</p></div>
          </li>
          <li><span class="which-destination-list-choice">Mt. Bromo</span>
            <div class="destination-list-choice-icon-details"><img src="images/bromo-icon.png" alt="bromo icon" width="60" height="30"/>
            <p class="view-details">view details</p></div>
          </li>
        </ul>
      </section> -->
    </div>
  </div>
