  <div class="container">
    <iy-section-heading
      [headingPart1]="'Set'"
      [headingPart2]="'&nbsp;Itinerary'"
      [description]="'Simply drag and dro what you want to visit, and viola we make an ittinery and schedule for your vacation.</br>Have a great trip!'"
      [isCenter]="true">
    </iy-section-heading>
    <div cdkDropListGroup class="set-your-ittinery">
      <iy-destination-plan [destinationPlan]="destinationPlan" />
      <iy-destination-list [destinationList]="destinationList" />
    </div>
  </div>
