<div class="day">
  <div class="day__heading">
    <h4 class="day__number">
      Day {{ destinationPlanDay?.DayNumber }}
    </h4>
    <time class="day__date" datetime="2015-05-29">
      {{ destinationPlanDay?.Date }}
    </time>
  </div>
</div>
@for (destination of destinationPlanDay?.Destinations;track destination;) {
  @switch (destination.Name) {
    @case ("Mt. Bromo") {
      <iy-destination-plan-item [destination]="DestinationEnum.MOUNTAIN_BROMO" />
    }
    @case ("Batu City") {
      <iy-destination-plan-item [destination]="DestinationEnum.CITY_BATU" />
    }
  }

}

