.iy-heading {
  &-title {
    font-size: 6.5rem;
    &__substr1 {
      display: inline-block;
      padding: 70px 0 0;
      font-family: "ChunkFive-Roman", sans-serif;
      color: #29d9c2;
    }
    &__substr2 {
      display: inline-block;
      font-family: "ChunkFive-Roman", sans-serif;
      color: #01a2a6;
    }
  }
  &__text {
    color: #a2a2a2;
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    line-height: 2.5rem;
    padding: 75px 0 0;
  }
}
