@import 'colors';

.c-drag-place {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23d8cb7d' stroke-width='5' stroke-dasharray='22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  background-color: $sand-medium;
  border-radius: 5px;
  color: $sand-dark;
  font-size: 1.5rem;
  padding: 8px 0;
  text-align: center;
}

.l-drag-place {
  display: grid;
  place-items: center;
  min-height: 80px;
  margin-top: 30px;
}
