@import 'colors';

.c-destination-item {
  list-style: none;
}

.l-destination-item {
  margin-bottom: 10px;
}

.c-destination {
  background-color: $white;
  border: 1px solid #d5d57d;
  border-radius: 5px;
  min-height: 70px;
  &__time-frame {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 100;
    padding: 10px;
    &::placeholder {
      color: $grey-dark;
      font-size: 1.8rem;
      font-weight: 100;
    }
  }
  &__name {
    color: $grey-dark;
    font-size: 2.2rem;
    font-weight: 100;
  }
  &__img {
    align-self: center;
    &-wrap {
      display: grid;
      justify-content: center;
      height: 45px;
      width: 60px;
    }
  }
}

.l-destination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  &__basic-info {
    display: inline-grid;
    align-items: center;
    grid-template-columns: 60px 150px;
  }
  &__time-frame {
    width: 140px;
  }
  &__name {
    display: inline-block;
    padding-left: 20px;
  }
}
