@import 'colors';

.sort-destination {
  color: #01a2a6;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 0 10px;
  outline: none;
}

.select-destination {
  color: $grey-medium;
  font-weight: 500;
}
