@import 'colors';

.c-sub-destination-btn {
  background-color: $sand-light;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: $sand-dark;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 7px 15px;
}

.l-sub-destination-btn {
  display: grid;
  justify-content: end;
}

.add-new {
  background-color: $sand-dark;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  width: 22px;
  height: 22px;
  margin-left: 5px;
}

.icon-plus {
  background-color: $sand-light;
  width: 9px;
  height: 9px;
}
