/*
*
*  Project name: Itinerary
*  Version: 1.0
*
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// =============================================================================
// USEFUL SCSS FUNCTIONS
// =============================================================================
@import 'functions';

// =============================================================================
// SHARED
// =============================================================================
@import 'shared';

// =============================================================================
// FONTS
// =============================================================================
@import 'fonts';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  margin-inline: auto;
}
