@import 'colors';

.c-destination-item {
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 5px;

  min-height: 50px;
  &__name {
    color: $dark-grey;
    font-size: 2.2rem;
    font-weight: 100;
  }
  &__img {
    align-self: center;
    &-wrap {
      display: grid;
      justify-content: center;
      height: 45px;
      width: 60px;
    }
  }
}

.l-destination-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  &__name {
    display: inline-block;
    padding-left: 20px;
  }
}
