@switch(destination) {
  @case (DestinationEnum.MOUNTAIN_BROMO) {
    <li class="c-destination-item l-destination-item">
      <p class="c-destination-item__name l-destination-item__name">Mt. Bromo</p>
      <div class="c-destination-item__img-wrap">
        <img class="c-destination-item__img" src="/assets/images/mountain-icon.png" width="60" height="30" alt="Bromo Icon">
      </div>
    </li>
  }
  @case (DestinationEnum.CITY_BATU) {
    <li class="c-destination-item l-destination-item">
      <p class="c-destination-item__name l-destination-item__name">Batu City</p>
      <div class="c-destination-item__img-wrap">
        <img class="c-destination-item__img" src="/assets/images/batu-icon.png" width="40" height="42" alt="Batu Icon">
      </div>
    </li>
  }
  @case (DestinationEnum.MOUNTAIN_SEMERU) {
    <li class="c-destination-item l-destination-item">
      <p class="c-destination-item__name l-destination-item__name">Mt. Semeru</p>
      <div class="c-destination-item__img-wrap">
        <img class="c-destination-item__img" src="/assets/images/mountain-icon.png" width="60" height="30" alt="Batu Icon">
      </div>
    </li>
  }
}
