@import 'colors';

:host {
  &::ng-deep {
    iy-destination-plan-sub-destination-item:not(:last-of-type) {
      .c-sub-destination-item {
        border-bottom: 1px solid $sand-dark;
      }
    }
  }
}

.c-sub-destinations {
  border-bottom-left-radius: 5px;
}

.l-sub-destinations {
  width: 95%;
  margin: 0 auto;
}

.sub-destinations-list {
  background-color: $sand-light;
  border-bottom-left-radius: 5px;
  padding: 0 20px;
}
